<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
</head>
<body>
<form method="post">
    {{ form.author.label }}{{ form.author }}
    {{ form.book.label }}{{ form.book }}
    {{ form.submit }}
</form>
<hr/>
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<hr/>
<ul>
        <h3>作者</h3>
    {% for author in authors %}
        <li>{{ author.name }}----<a href="/del_author/{{ author.id }}">删除</a></li>
        <h5>书名</h5>
        <ul>
        {% for book in author.books %}
            <li>{{ book.name }}-----<a href="/del_book/{{ book.id }}">删除</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>没有数据啦。。。</h2>
    {% endfor %}
</ul>
</body>
</html>